<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="{{ .OGTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Out of {{ .TotalCrossings }} border
    crossings, {{ printf "%.1f" .CrossingCheckPer}}% of them ({{
    .TotalBorderChecks }}) involved a border check." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borders - Statistics</title>
    <link rel="stylesheet" href="/static/style/stats.css" />
  </head>
  <body>
    <div class="adm-flex">
      <a href="/admin" class="adm">administration</a>
    </div>
    <main>
      <h1>Border crossing statistics</h1>
      <div class="card">
        <p>
          Out of {{ .TotalCrossings }} border crossings, there were {{
          .TotalBorderChecks }} border checks. That's {{ printf "%.1f"
          .CrossingCheckPer }}%.<br />
          Out of those {{ .TotalBorderChecks }} border checks, {{ .TotalIdChecks
          }} involved checking identification of the contributors of this page.
          That's {{ printf "%.1f" .CheckIDPer }}% of checks, or {{ printf "%.1f"
          .CrossingIdPer }}% of border crossings.
        </p>
        <p>
          The country with the most border checks was: {{
          .WorstCountry.Item.Name }}, with a {{ printf "%.1f" .WorstCountryPer
          }}% rate of border checks.
        </p>
        <p>
          The means of transport with the most border checks was: {{
          .WorstTransport.Item.Name }}, with a {{ printf "%.1f"
          .WorstTransportPer }}% rate of border checks.
        </p>
      </div>
      <div class="grid">
        <div>
          <h2>Countries leaderboard</h2>
          <div class="card">
            {{ template "leaderboard" .CountryLeaderboard }}
          </div>
        </div>
        <div>
          <h2>Transportation leaderboard</h2>
          <div class="card">
            {{ template "leaderboard" .TransportLeaderboard }}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
