@import url("/static/style/common.css");
@import url("/static/style/corner-button.css");
@import url("/static/style/table-common.css");

.card {
  width: fit-content;
  max-width: 90vw;
  overflow-x: scroll;
  margin: auto;
}
