<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borders - Admin</title>
    <link rel="stylesheet" href="/static/style/admin.css" />
    <script src="/static/script/ensureCheck.js"></script>
    <script src="/static/script/passwordConfirm.js"></script>
  </head>
  <body>
    {{ if ne .Message ""}}
    <div class="msg">
      {{.Message}}
    </div>
    {{else}}
    No Message
    {{end}}
    <a href="{{ .Logout }}" class="adm">log out</a>
    <h1>Add a border crossing</h1>
    <form
      action="{{ .CreateCrossing }}"
      method="post"
      class="card crossing mainform"
    >
      <div class="select">
        <label for="country">Crossing into</label>
        <select name="country" id="country">
          {{ range .ManageCountries.Items }}
          <option value="{{ .ID }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </div>
      <div class="select">
        <label for="transport">Via</label>
        <select name="transport" id="transport">
          {{ range .ManageTransports.Items }}
          <option value="{{ .ID }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </div>
      <div class="select">
        <label for="time">Time</label>
        <input type="datetime-local" name="time" id="time" required />
      </div>
      <div class="fc">
        <input
          type="checkbox"
          name="check[]"
          id="border-check"
          value="{{ .BorderValue }}"
        />
        <label for="border-check">Crossing involved a border check</label>
      </div>
      <div>
        <input
          type="checkbox"
          name="check[]"
          id="papers-check"
          value="{{ .PapersValue }}"
        />
        <label for="papers-check">Own papers were checked</label>
      </div>
      <input type="submit" value="Save" />
    </form>

    <div class="grid">
      <div>
        <h2>Manage Countries</h2>
        <div class="card">{{ template "manage" .ManageCountries}}</div>
      </div>
      <div>
        <h2>Manage Means of transport</h2>
        <div class="card">{{ template "manage" .ManageTransports}}</div>
      </div>
      <div>
        <h2>Change password</h2>
        <form action="{{ .ChangePassword }}" method="post" class="card">
          <label for="old">Old password</label>
          <input
            type="password"
            name="old"
            id="old"
            placeholder="old password"
          />
          <label for="password">New password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="new password"
          />

          <label for="password-confirm">New password confirmation</label>
          <input
            type="password"
            name="password-confirm"
            id="password-confirm"
            placeholder="new password (again)"
          />
          <span id="message"></span>

          <input type="submit" value="Submit" id="submit" />
        </form>
      </div>
      <div>
        <h2>Create a user</h2>
        <form action="{{ .CreateUser }}" method="post" class="card">
          <label for="name">Username</label>
          <input type="text" name="name" id="name" placeholder="username" />

          <input type="submit" value="Submit" id="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
